<form>
    <h2>Ajouter une Maison d'Hôte</h2>

    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" required>

    <label for="adresse">Adresse :</label>
    <input type="text" id="adresse" name="adresse" required>

    <label for="description">Description :</label>
    <textarea id="description" name="description" required></textarea>

    <label for="ville">Ville :</label>
    <input type="text" id="ville" name="ville" required>


    <button type="submit">Ajouter Maison</button>
  </form>
