<div  class="blog">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2> G-Hotel Blog</h2>
                <p>When it comes to planning a memorable trip, finding the hidden gems of a destination can elevate your travel experience to new heights.</p>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-4">
             <div class="blog_box">
                <div class="blog_img">
                   <figure><img src="assets/images/blog1.jpg" alt="#"/></figure>
                </div>
                <div class="blog_room">
                   <h3>Bed Room</h3>
                   <span>Unspoiled Natural Wonders: </span>
                   <p>BHADOHI is blessed with breathtaking natural landscapes that will leave you in awe. From cascading waterfalls and lush rainforests to pristine beaches and rugged mountains, nature enthusiasts will find solace in the unspoiled beauty that awaits.  </p>
                </div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="blog_box">
                <div class="blog_img">
                   <figure><img src="assets/images/blog2.jpg" alt="#"/></figure>
                </div>
                <div class="blog_room">
                   <h3>Bed Room</h3>
                   <span>Quaint Local Neighborhoods: </span>
                   <p>To truly immerse yourself in the local culture, explore the charming neighborhoods that showcase the authentic heartbeat of BHADOHI.</p>
                </div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="blog_box">
                <div class="blog_img">
                   <figure><img src="assets/images/blog3.jpg" alt="#"/></figure>
                </div>
                <div class="blog_room">
                   <h3>Bed Room</h3>
                   <span>Cultural Gems:</span>
                   <p>Dig deeper into [Destination]'s history and heritage by uncovering its lesser-known cultural gems. Explore hidden temples, ancient ruins, and historical sites that hold stories of the past.</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end blog -->
 