<form>
    <h2>Ajouter une chambre</h2>

    <label for="nom">nom :</label>
    <input type="text" id="nom" name="nom" required>

    <label for="capacité">capacité</label>
    <input type="text" id="adresse" name="adresse" required>

    <label for="description">Description :</label>
    <textarea id="description" name="description" required></textarea>

    <label for="prix">prix:</label>
    <input type="text" id="ville" name="ville" required>


    <button type="submit">Ajouter chambre</button>
  </form>
